html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* .slick-prev:before, .slick-next:before{
  color: black !important;
} */

.slick-next, .slick-prev  {
  color: black !important;
}

.slider {
  margin-top: 63px;
  height: 41px;
  align-items: center;
  border-bottom: 1px solid #DFDFDF;
}